@import "tailwindcss";

:root {
  --pale: #E8D9C4;
  --gold: #785D32;
  --rough: #3e160c;
  --off-navy: #050A30;
}

@theme inline {
  --color-pale: var(--pale);
  --color-gold: var(--gold);
  --color-rough: var(--rough);
  --color-off-navy: var(--off-navy);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
